In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import datetime as dt
import numpy as np

# Read in csv files into DataFrames

In [2]:
# Read in data for Dec 2021
file_dec2021 = "./Data/202112-divvy-tripdata.csv"
dec2021_df = pd.read_csv(file_dec2021)
dec2021_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,46F8167220E4431F,electric_bike,2021-12-07 15:06:07,2021-12-07 15:13:42,Laflin St & Cullerton St,13307,Morgan St & Polk St,TA1307000130,41.854833,-87.663660,41.871969,-87.650965,member
1,73A77762838B32FD,electric_bike,2021-12-11 03:43:29,2021-12-11 04:10:23,LaSalle Dr & Huron St,KP1705001026,Clarendon Ave & Leland Ave,TA1307000119,41.894405,-87.632331,41.967968,-87.650001,casual
2,4CF42452054F59C5,electric_bike,2021-12-15 23:10:28,2021-12-15 23:23:14,Halsted St & North Branch St,KA1504000117,Broadway & Barry Ave,13137,41.899357,-87.648522,41.937582,-87.644098,member
3,3278BA87BF698339,classic_bike,2021-12-26 16:16:10,2021-12-26 16:30:53,Halsted St & North Branch St,KA1504000117,LaSalle Dr & Huron St,KP1705001026,41.899390,-87.648545,41.894877,-87.632326,member
4,6FF54232576A3B73,electric_bike,2021-12-30 11:31:05,2021-12-30 11:51:21,Leavitt St & Chicago Ave,18058,Clark St & Drummond Pl,TA1307000142,41.895579,-87.682024,41.931248,-87.644336,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247535,847431F3D5353AB7,electric_bike,2021-12-12 13:36:55,2021-12-12 13:56:08,Canal St & Madison St,13341,NaN,NaN,41.882289,-87.639752,41.890000,-87.610000,casual
247536,CF407BBC3B9FAD63,electric_bike,2021-12-06 19:37:50,2021-12-06 19:44:51,Canal St & Madison St,13341,Kingsbury St & Kinzie St,KA1503000043,41.882123,-87.640053,41.889106,-87.638862,member
247537,60BB69EBF5440E92,electric_bike,2021-12-02 08:57:04,2021-12-02 09:05:21,Canal St & Madison St,13341,Dearborn St & Monroe St,TA1305000006,41.881956,-87.639955,41.880254,-87.629603,member
247538,C414F654A28635B8,electric_bike,2021-12-13 09:00:26,2021-12-13 09:14:39,Lawndale Ave & 16th St,362.0,NaN,NaN,41.860000,-87.720000,41.850000,-87.710000,member
247539,37AC57E34B2E7E97,classic_bike,2021-12-13 08:45:32,2021-12-13 08:49:09,Michigan Ave & Jackson Blvd,TA1309000002,Dearborn St & Monroe St,TA1305000006,41.877850,-87.624080,41.881320,-87.629521,member

In [3]:
# Read in data for Jan 2022
file_jan2022 = "./Data/202201-divvy-tripdata.csv"
jan2022_df = pd.read_csv(file_jan2022)
jan2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103765,8788DA3EDE8FD8AB,electric_bike,2022-01-18 12:36:48,2022-01-18 12:46:19,Clinton St & Washington Blvd,WL-012,NaN,NaN,41.883436,-87.641391,41.890000,-87.620000,casual
103766,C6C3B64FDC827D8C,electric_bike,2022-01-27 11:00:06,2022-01-27 11:02:40,Racine Ave & Randolph St,13155,NaN,NaN,41.884158,-87.656977,41.880000,-87.650000,casual
103767,CA281AE7D8B06F5A,electric_bike,2022-01-10 16:14:51,2022-01-10 16:20:58,Broadway & Waveland Ave,13325,Clark St & Grace St,TA1307000127,41.949066,-87.648611,41.950780,-87.659172,casual
103768,44E348991862319B,electric_bike,2022-01-19 13:22:11,2022-01-19 13:24:27,Racine Ave & Randolph St,13155,NaN,NaN,41.884005,-87.657031,41.880000,-87.660000,casual
103769,E477C594A182AE58,electric_bike,2022-01-13 17:24:43,2022-01-13 17:28:14,Clinton St & Washington Blvd,WL-012,Desplaines St & Kinzie St,TA1306000003,41.883248,-87.641244,41.888716,-87.644448,casual

In [4]:
# Read in data for Feb 2022
file_feb2022 = "./Data/202202-divvy-tripdata.csv"
feb2022_df = pd.read_csv(file_feb2022)
feb2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E1E065E7ED285C02,classic_bike,2022-02-19 18:08:41,2022-02-19 18:23:56,State St & Randolph St,TA1305000029,Clark St & Lincoln Ave,13179,41.884621,-87.627834,41.915689,-87.634600,member
1,1602DCDC5B30FFE3,classic_bike,2022-02-20 17:41:30,2022-02-20 17:45:56,Halsted St & Wrightwood Ave,TA1309000061,Southport Ave & Wrightwood Ave,TA1307000113,41.929143,-87.649077,41.928773,-87.663913,member
2,BE7DD2AF4B55C4AF,classic_bike,2022-02-25 18:55:56,2022-02-25 19:09:34,State St & Randolph St,TA1305000029,Canal St & Adams St,13011,41.884621,-87.627834,41.879255,-87.639904,member
3,A1789BDF844412BE,classic_bike,2022-02-14 11:57:03,2022-02-14 12:04:00,Southport Ave & Waveland Ave,13235,Broadway & Sheridan Rd,13323,41.948150,-87.663940,41.952833,-87.649993,member
4,07DE78092C62F7B3,classic_bike,2022-02-16 05:36:06,2022-02-16 05:39:00,State St & Randolph St,TA1305000029,Franklin St & Lake St,TA1307000111,41.884621,-87.627834,41.885837,-87.635500,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115604,211BE0DC162D85B7,electric_bike,2022-02-23 17:47:49,2022-02-23 18:02:29,NaN,NaN,Leavitt St & Chicago Ave,18058,41.880000,-87.630000,41.895501,-87.682017,member
115605,D4D53E78000C8CA1,electric_bike,2022-02-04 10:43:47,2022-02-04 10:50:52,NaN,NaN,Leavitt St & Chicago Ave,18058,41.910000,-87.680000,41.895501,-87.682017,member
115606,9E85F07D2F94492B,electric_bike,2022-02-28 09:16:33,2022-02-28 09:28:11,Wood St & Chicago Ave,637,Canal St & Adams St,13011,41.895714,-87.672210,41.879255,-87.639904,member
115607,B61B559F81F1D823,electric_bike,2022-02-10 16:55:16,2022-02-10 16:57:53,NaN,NaN,Canal St & Adams St,13011,41.880000,-87.630000,41.879255,-87.639904,member
115608,841C701610CF0609,electric_bike,2022-02-21 16:35:20,2022-02-21 16:42:53,NaN,NaN,Larrabee St & Oak St,KA1504000116,41.880000,-87.650000,41.900219,-87.642985,member

In [5]:
# Read in data for Mar 2022
file_mar2022 = "./Data/202203-divvy-tripdata.csv"
mar2022_df = pd.read_csv(file_mar2022)
mar2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,47EC0A7F82E65D52,classic_bike,2022-03-21 13:45:01,2022-03-21 13:51:18,Wabash Ave & Wacker Pl,TA1307000131,Kingsbury St & Kinzie St,KA1503000043,41.886875,-87.626030,41.889177,-87.638506,member
1,8494861979B0F477,electric_bike,2022-03-16 09:37:16,2022-03-16 09:43:34,Michigan Ave & Oak St,13042,Orleans St & Chestnut St (NEXT Apts),620,41.900998,-87.623752,41.898203,-87.637536,member
2,EFE527AF80B66109,classic_bike,2022-03-23 19:52:02,2022-03-23 19:54:48,Broadway & Berwyn Ave,13109,Broadway & Ridge Ave,15578,41.978353,-87.659753,41.984045,-87.660274,member
3,9F446FD9DEE3F389,classic_bike,2022-03-01 19:12:26,2022-03-01 19:22:14,Wabash Ave & Wacker Pl,TA1307000131,Franklin St & Jackson Blvd,TA1305000025,41.886875,-87.626030,41.877708,-87.635321,member
4,431128AD9AFFEDC0,classic_bike,2022-03-21 18:37:01,2022-03-21 19:19:11,DuSable Lake Shore Dr & North Blvd,LF-005,Loomis St & Jackson Blvd,13206,41.911722,-87.626804,41.877945,-87.662007,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
284037,E23BE3DB740BE3B4,docked_bike,2022-03-13 16:31:03,2022-03-13 16:39:32,Michigan Ave & Oak St,13042,Streeter Dr & Grand Ave,13022,41.900960,-87.623777,41.892278,-87.612043,casual
284038,15AF71F3220F2A75,docked_bike,2022-03-09 06:56:02,2022-03-09 07:42:14,Broadway & Barry Ave,13137,Ravenswood Ave & Berteau Ave,TA1309000018,41.937582,-87.644098,41.957921,-87.673567,casual
284039,9C4CE6CC19F8225B,electric_bike,2022-03-09 15:55:26,2022-03-09 16:08:54,NaN,NaN,Albany Ave & Montrose Ave,15621,41.940000,-87.710000,41.961041,-87.705866,member
284040,F4E136DEF696F3AE,electric_bike,2022-03-21 16:12:44,2022-03-21 16:18:24,NaN,NaN,Larrabee St & Division St,KA1504000079,41.910000,-87.650000,41.903486,-87.643353,member
284041,5AEC5F39AF711895,classic_bike,2022-03-03 18:13:40,2022-03-03 18:23:39,Clark St & Randolph St,TA1305000030,Streeter Dr & Grand Ave,13022,41.884576,-87.631890,41.892278,-87.612043,member

In [6]:
# Read in data for Apr 2022
file_apr2022 = "./Data/202204-divvy-tripdata.csv"
apr2022_df = pd.read_csv(file_apr2022)
apr2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3564070EEFD12711,electric_bike,2022-04-06 17:42:48,2022-04-06 17:54:36,Paulina St & Howard St,515,University Library (NU),605,42.019135,-87.673532,42.052939,-87.673447,member
1,0B820C7FCF22F489,classic_bike,2022-04-24 19:23:07,2022-04-24 19:43:17,Wentworth Ave & Cermak Rd,13075,Green St & Madison St,TA1307000120,41.853085,-87.631931,41.881892,-87.648789,member
2,89EEEE32293F07FF,classic_bike,2022-04-20 19:29:08,2022-04-20 19:35:16,Halsted St & Polk St,TA1307000121,Green St & Madison St,TA1307000120,41.871840,-87.646640,41.881892,-87.648789,member
3,84D4751AEB31888D,classic_bike,2022-04-22 21:14:06,2022-04-22 21:23:29,Wentworth Ave & Cermak Rd,13075,Delano Ct & Roosevelt Rd,KA1706005007,41.853085,-87.631931,41.867491,-87.632190,casual
4,5664BCF0D1DE7A8B,electric_bike,2022-04-16 15:56:30,2022-04-16 16:02:11,Halsted St & Polk St,TA1307000121,Clinton St & Madison St,TA1305000032,41.871808,-87.646574,41.882242,-87.641066,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
371244,C5A123D7BF8D350A,electric_bike,2022-04-22 15:54:11,2022-04-22 16:20:59,Streeter Dr & Grand Ave,13022,California Ave & North Ave,13258,41.892296,-87.612198,41.910475,-87.696894,member
371245,F7FCC7C26D8D137D,electric_bike,2022-04-21 20:18:17,2022-04-21 20:46:45,Streeter Dr & Grand Ave,13022,California Ave & North Ave,13258,41.892295,-87.612323,41.910475,-87.696894,member
371246,43D351300A40000A,classic_bike,2022-04-21 16:46:02,2022-04-21 17:15:05,Franklin St & Monroe St,TA1309000007,St. Clair St & Erie St,13016,41.880317,-87.635185,41.894345,-87.622798,member
371247,1618BFEEA7B566EF,electric_bike,2022-04-16 13:19:44,2022-04-16 13:37:31,Ashland Ave & Blackhawk St,13224,Southport Ave & Waveland Ave,13235,41.907094,-87.667217,41.948150,-87.663940,casual
371248,92C069001A6B17B1,electric_bike,2022-04-21 18:06:41,2022-04-21 18:11:49,Southport Ave & Clark St,TA1308000047,Southport Ave & Waveland Ave,13235,41.957102,-87.664184,41.948150,-87.663940,casual

In [7]:
# Read in data for May 2022
file_may2022 = "./Data/202205-divvy-tripdata.csv"
may2022_df = pd.read_csv(file_may2022)
may2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EC2DE40644C6B0F4,classic_bike,2022-05-23 23:06:58,2022-05-23 23:40:19,Wabash Ave & Grand Ave,TA1307000117,Halsted St & Roscoe St,TA1309000025,41.891466,-87.626761,41.943670,-87.648950,member
1,1C31AD03897EE385,classic_bike,2022-05-11 08:53:28,2022-05-11 09:31:22,DuSable Lake Shore Dr & Monroe St,13300,Field Blvd & South Water St,15534,41.880958,-87.616743,41.886349,-87.617517,member
2,1542FBEC830415CF,classic_bike,2022-05-26 18:36:28,2022-05-26 18:58:18,Clinton St & Madison St,TA1305000032,Wood St & Milwaukee Ave,13221,41.882242,-87.641066,41.907655,-87.672552,member
3,6FF59852924528F8,classic_bike,2022-05-10 07:30:07,2022-05-10 07:38:49,Clinton St & Madison St,TA1305000032,Clark St & Randolph St,TA1305000030,41.882242,-87.641066,41.884576,-87.631890,member
4,483C52CAAE12E3AC,classic_bike,2022-05-10 17:31:56,2022-05-10 17:36:57,Clinton St & Madison St,TA1305000032,Morgan St & Lake St,TA1306000015,41.882242,-87.641066,41.885779,-87.651025,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
634853,8891BA0053ECEC4F,electric_bike,2022-05-27 22:00:02,2022-05-27 22:07:01,Clark St & Newport St,632,NaN,NaN,41.944557,-87.654830,41.920000,-87.650000,member
634854,47D8B5FBCADECFC1,electric_bike,2022-05-15 16:05:39,2022-05-15 16:44:12,Clark St & Newport St,632,NaN,NaN,41.944479,-87.654758,41.920000,-87.760000,member
634855,AA8D16CF38B40703,electric_bike,2022-05-21 10:10:13,2022-05-21 10:26:09,Francisco Ave & Bloomingdale Ave,429,NaN,NaN,41.910000,-87.700000,41.920000,-87.660000,casual
634856,897EBFD44F329E0A,electric_bike,2022-05-12 07:53:58,2022-05-12 08:01:18,Francisco Ave & Bloomingdale Ave,429,NaN,NaN,41.910000,-87.700000,41.900000,-87.690000,member
634857,AAC23AB89E8A7733,electric_bike,2022-05-11 21:14:28,2022-05-11 21:18:16,Clark St & Newport St,632,NaN,NaN,41.944567,-87.654802,41.940000,-87.650000,member

In [8]:
# Read in data for Jun 2022
file_jun2022 = "./Data/202206-divvy-tripdata.csv"
jun2022_df = pd.read_csv(file_jun2022)
jun2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,600CFD130D0FD2A4,electric_bike,2022-06-30 17:27:53,2022-06-30 17:35:15,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.910000,-87.620000,casual
1,F5E6B5C1682C6464,electric_bike,2022-06-30 18:39:52,2022-06-30 18:47:28,NaN,NaN,NaN,NaN,41.910000,-87.620000,41.930000,-87.630000,casual
2,B6EB6D27BAD771D2,electric_bike,2022-06-30 11:49:25,2022-06-30 12:02:54,NaN,NaN,NaN,NaN,41.910000,-87.650000,41.890000,-87.610000,casual
3,C9C320375DE1D5C6,electric_bike,2022-06-30 11:15:25,2022-06-30 11:19:43,NaN,NaN,NaN,NaN,41.800000,-87.660000,41.800000,-87.650000,casual
4,56C055851023BE98,electric_bike,2022-06-29 23:36:50,2022-06-29 23:45:17,NaN,NaN,NaN,NaN,41.910000,-87.630000,41.930000,-87.640000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
769199,7B3B2890CA85E05D,classic_bike,2022-06-25 00:56:48,2022-06-25 01:01:39,Sheffield Ave & Kingsbury St,13154,Sheffield Ave & Kingsbury St,13154,41.910522,-87.653106,41.910522,-87.653106,member
769200,1E993989CC66BCBC,classic_bike,2022-06-25 00:56:25,2022-06-25 01:00:26,Sheffield Ave & Kingsbury St,13154,Sheffield Ave & Kingsbury St,13154,41.910522,-87.653106,41.910522,-87.653106,member
769201,AEA166296BC67566,electric_bike,2022-06-12 12:47:12,2022-06-12 12:47:36,Milwaukee Ave & Fullerton Ave,428,Milwaukee Ave & Fullerton Ave,428,41.920000,-87.700000,41.920000,-87.700000,casual
769202,B9F527742959CF03,classic_bike,2022-06-12 13:28:46,2022-06-12 13:53:11,Clark St & Randolph St,TA1305000030,Clark St & Randolph St,TA1305000030,41.884576,-87.631890,41.884576,-87.631890,casual
769203,D241310352E26484,classic_bike,2022-06-12 14:40:51,2022-06-12 15:08:14,Blue Island Ave & 18th St,13135,Blue Island Ave & 18th St,13135,41.857556,-87.661535,41.857556,-87.661535,casual

In [9]:
# Read in data for Jul 2022
file_jul2022 = "./Data/202207-divvy-tripdata.csv"
jul2022_df = pd.read_csv(file_jul2022)
jul2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,954144C2F67B1932,classic_bike,2022-07-05 08:12:47,2022-07-05 08:24:32,Ashland Ave & Blackhawk St,13224,Kingsbury St & Kinzie St,KA1503000043,41.907066,-87.667252,41.889177,-87.638506,member
1,292E027607D218B6,classic_bike,2022-07-26 12:53:38,2022-07-26 12:55:31,Buckingham Fountain (Temp),15541,Michigan Ave & 8th St,623,41.869621,-87.623981,41.872773,-87.623981,casual
2,57765852588AD6E0,classic_bike,2022-07-03 13:58:49,2022-07-03 14:06:32,Buckingham Fountain (Temp),15541,Michigan Ave & 8th St,623,41.869621,-87.623981,41.872773,-87.623981,casual
3,B5B6BE44314590E6,classic_bike,2022-07-31 17:44:21,2022-07-31 18:42:50,Buckingham Fountain (Temp),15541,Woodlawn Ave & 55th St,TA1307000164,41.869621,-87.623981,41.795264,-87.596471,casual
4,A4C331F2A00E79E0,classic_bike,2022-07-13 19:49:06,2022-07-13 20:15:24,Wabash Ave & Grand Ave,TA1307000117,Sheffield Ave & Wellington Ave,TA1307000052,41.891466,-87.626761,41.936253,-87.652662,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
823483,605787F70B3B9FD3,electric_bike,2022-07-09 08:32:15,2022-07-09 08:56:10,NaN,NaN,NaN,NaN,41.740000,-87.680000,41.750000,-87.680000,member
823484,F0EECBEE637DF028,electric_bike,2022-07-17 13:27:57,2022-07-17 13:33:09,NaN,NaN,NaN,NaN,41.870000,-87.660000,41.870000,-87.680000,member
823485,B8B091DC72DDAB9D,electric_bike,2022-07-17 14:51:37,2022-07-17 14:57:01,NaN,NaN,NaN,NaN,41.950000,-87.640000,41.950000,-87.650000,member
823486,B4D3FFCC1F3AF5EC,electric_bike,2022-07-28 13:41:50,2022-07-28 13:47:17,NaN,NaN,NaN,NaN,41.880000,-87.630000,41.870000,-87.630000,member
823487,AA9217C8DA3BAC0B,electric_bike,2022-07-29 13:05:20,2022-07-29 13:10:40,NaN,NaN,NaN,NaN,41.900000,-87.660000,41.900000,-87.670000,member

In [10]:
# Read in data for Aug 2022
file_aug2022 = "./Data/202208-divvy-tripdata.csv"
aug2022_df = pd.read_csv(file_aug2022)
aug2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,550CF7EFEAE0C618,electric_bike,2022-08-07 21:34:15,2022-08-07 21:41:46,NaN,NaN,NaN,NaN,41.930000,-87.690000,41.94,-87.72,casual
1,DAD198F405F9C5F5,electric_bike,2022-08-08 14:39:21,2022-08-08 14:53:23,NaN,NaN,NaN,NaN,41.890000,-87.640000,41.92,-87.64,casual
2,E6F2BC47B65CB7FD,electric_bike,2022-08-08 15:29:50,2022-08-08 15:40:34,NaN,NaN,NaN,NaN,41.970000,-87.690000,41.97,-87.66,casual
3,F597830181C2E13C,electric_bike,2022-08-08 02:43:50,2022-08-08 02:58:53,NaN,NaN,NaN,NaN,41.940000,-87.650000,41.97,-87.69,casual
4,0CE689BB4E313E8D,electric_bike,2022-08-07 20:24:06,2022-08-07 20:29:58,NaN,NaN,NaN,NaN,41.850000,-87.650000,41.84,-87.66,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
785927,EC17BE8AB1D73C88,electric_bike,2022-08-12 08:28:26,2022-08-12 08:42:26,Paulina St & Montrose Ave,TA1309000021,NaN,NaN,41.961563,-87.671431,41.94,-87.64,member
785928,57BAC0EA3A067A83,electric_bike,2022-08-22 12:30:19,2022-08-22 12:36:32,California Ave & 21st St,13096,NaN,NaN,41.853754,-87.695806,41.84,-87.69,member
785929,9B97FAE30276C299,electric_bike,2022-08-09 07:43:31,2022-08-09 07:50:50,Clinton St & Washington Blvd,WL-012,NaN,NaN,41.883404,-87.641222,41.89,-87.66,member
785930,2B4A9BA1E9AA9B51,electric_bike,2022-08-24 14:31:58,2022-08-24 14:40:32,Ashland Ave & Wellington Ave,13269,NaN,NaN,41.936081,-87.669896,41.93,-87.64,member
785931,7F0D048AC7C3B81A,electric_bike,2022-08-24 09:45:04,2022-08-24 09:45:19,Clark St & Lincoln Ave,13179,NaN,NaN,41.915784,-87.634676,41.92,-87.63,member

In [11]:
# Read in data for Sep 2022
file_sep2022 = "./Data/202209-divvy-publictripdata.csv"
sep2022_df = pd.read_csv(file_sep2022)
sep2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5156990AC19CA285,electric_bike,2022-09-01 08:36:22,2022-09-01 08:39:05,NaN,NaN,California Ave & Milwaukee Ave,13084,41.930000,-87.690000,41.922695,-87.697153,casual
1,E12D4A16BF51C274,electric_bike,2022-09-01 17:11:29,2022-09-01 17:14:45,NaN,NaN,NaN,NaN,41.870000,-87.620000,41.870000,-87.620000,casual
2,A02B53CD7DB72DD7,electric_bike,2022-09-01 17:15:50,2022-09-01 17:16:12,NaN,NaN,NaN,NaN,41.870000,-87.620000,41.870000,-87.620000,casual
3,C82E05FEE872DF11,electric_bike,2022-09-01 09:00:28,2022-09-01 09:10:32,NaN,NaN,NaN,NaN,41.930000,-87.690000,41.940000,-87.670000,casual
4,4DEEB4550A266AE1,electric_bike,2022-09-01 07:30:11,2022-09-01 07:32:36,NaN,NaN,NaN,NaN,41.920000,-87.730000,41.920000,-87.730000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
701334,32ECA2B32C4B6F85,classic_bike,2022-09-05 17:59:21,2022-09-05 18:19:07,Lincoln Ave & Winona St,KA1504000078,Broadway & Wilson - Truman College Vaccination...,13074,41.974911,-87.692503,41.965221,-87.658139,member
701335,14801F713026AEAE,classic_bike,2022-09-30 17:20:54,2022-09-30 17:34:40,Broadway & Ridge Ave,15578,Broadway & Wilson - Truman College Vaccination...,13074,41.984045,-87.660274,41.965221,-87.658139,member
701336,7CCAF5D6E88E45C0,electric_bike,2022-09-04 11:39:37,2022-09-04 11:50:55,Broadway & Ridge Ave,15578,Broadway & Wilson - Truman College Vaccination...,13074,41.984112,-87.660269,41.965221,-87.658139,member
701337,AF9A129D9AFAA40B,electric_bike,2022-09-28 13:42:45,2022-09-28 13:52:59,Lincoln Ave & Winona St,KA1504000078,Broadway & Wilson - Truman College Vaccination...,13074,41.974921,-87.692735,41.965221,-87.658139,member
701338,60B56F4897429FCE,electric_bike,2022-09-01 20:07:04,2022-09-01 20:18:01,Lincoln Ave & Winona St,KA1504000078,Broadway & Wilson - Truman College Vaccination...,13074,41.974902,-87.692650,41.965221,-87.658139,member

In [12]:
# Read in data for Oct 2022
file_oct2022 = "./Data/202210-divvy-tripdata.csv"
oct2022_df = pd.read_csv(file_oct2022)
oct2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A50255C1E17942AB,classic_bike,2022-10-14 17:13:30,2022-10-14 17:19:39,Noble St & Milwaukee Ave,13290,Larrabee St & Division St,KA1504000079,41.900680,-87.662600,41.903486,-87.643353,member
1,DB692A70BD2DD4E3,electric_bike,2022-10-01 16:29:26,2022-10-01 16:49:06,Damen Ave & Charleston St,13288,Damen Ave & Cullerton St,13089,41.920037,-87.677937,41.854967,-87.675700,casual
2,3C02727AAF60F873,electric_bike,2022-10-19 18:55:40,2022-10-19 19:03:30,Hoyne Ave & Balmoral Ave,655,Western Ave & Leland Ave,TA1307000140,41.979879,-87.681902,41.966400,-87.688704,member
3,47E653FDC2D99236,electric_bike,2022-10-31 07:52:36,2022-10-31 07:58:49,Rush St & Cedar St,KA1504000133,Orleans St & Chestnut St (NEXT Apts),620,41.902274,-87.627692,41.898203,-87.637536,member
4,8B5407BE535159BF,classic_bike,2022-10-13 18:41:03,2022-10-13 19:26:18,900 W Harrison St,13028,Adler Planetarium,13431,41.874754,-87.649807,41.866095,-87.607267,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
558680,BC3BFA659C9AB6F1,classic_bike,2022-10-30 01:41:29,2022-10-30 01:57:16,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual
558681,ACD65450291CF95F,classic_bike,2022-10-30 01:41:54,2022-10-30 01:57:09,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual
558682,4AAC03D1438E97CA,classic_bike,2022-10-15 09:34:11,2022-10-15 10:03:21,Sedgwick St & North Ave,TA1307000038,Wabash Ave & Grand Ave,TA1307000117,41.911386,-87.638677,41.891466,-87.626761,casual
558683,8E6F3F29785E5D40,classic_bike,2022-10-09 10:21:34,2022-10-09 10:43:45,Sedgwick St & North Ave,TA1307000038,Damen Ave & Clybourn Ave,13271,41.911386,-87.638677,41.931931,-87.677856,member
558684,8D14CBE672431920,docked_bike,2022-10-22 13:17:13,2022-10-22 13:46:14,Clark St & Armitage Ave,13146,Wabash Ave & Grand Ave,TA1307000117,41.918306,-87.636282,41.891466,-87.626761,casual

In [13]:
# Read in data for Nov 2022
file_nov2022 = "./Data/202211-divvy-tripdata.csv"
nov2022_df = pd.read_csv(file_nov2022)
nov2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BCC66FC6FAB27CC7,electric_bike,2022-11-10 06:21:55,2022-11-10 06:31:27,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879401,-87.639848,41.894345,-87.622798,member
1,772AB67E902C180F,classic_bike,2022-11-04 07:31:55,2022-11-04 07:46:25,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879255,-87.639904,41.894345,-87.622798,member
2,585EAD07FDEC0152,classic_bike,2022-11-21 17:20:29,2022-11-21 17:34:36,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member
3,91C4E7ED3C262FF9,classic_bike,2022-11-25 17:29:34,2022-11-25 17:45:15,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member
4,709206A3104CABC8,classic_bike,2022-11-29 17:24:25,2022-11-29 17:42:51,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337730,C349E243A9BAA6F7,electric_bike,2022-11-25 11:19:52,2022-11-25 11:31:50,Wabash Ave & Grand Ave,TA1307000117,NaN,NaN,41.891836,-87.626806,41.890000,-87.620000,member
337731,B0B4E85DA43A9194,classic_bike,2022-11-22 16:57:53,2022-11-22 17:31:29,Franklin St & Jackson Blvd,TA1305000025,Sheffield Ave & Wrightwood Ave,TA1309000023,41.877708,-87.635321,41.928712,-87.653833,casual
337732,8D148DD47B59530B,classic_bike,2022-11-06 13:04:05,2022-11-06 13:13:33,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876243,-87.624426,41.867226,-87.615355,casual
337733,0D1170BA18FD33D1,classic_bike,2022-11-06 09:41:29,2022-11-06 15:17:17,Halsted St & 18th St,13099,Shedd Aquarium,15544,41.857506,-87.645991,41.867226,-87.615355,casual
337734,09B20DC75B5EA1E0,electric_bike,2022-11-26 11:59:28,2022-11-26 12:31:04,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876272,-87.624576,41.867226,-87.615355,casual

In [14]:
# Using concat to merge the DataFreames
all_data = pd.concat([dec2021_df, jan2022_df, 
                     feb2022_df, mar2022_df,
                     apr2022_df, may2022_df,
                     jun2022_df, jul2022_df,
                     aug2022_df, sep2022_df,
                     oct2022_df, nov2022_df])
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5733451 entries, 0 to 337734
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 612.4+ MB

In [15]:
# drop null values for the all_data DataFrame
all_data.dropna(axis=0, inplace=True)

In [16]:
# Check for duplicated data
all_data.drop_duplicates(inplace=True)

In [17]:
# Convert started_at and ended_at columns into datetime datatype
all_data["started_at"] = pd.to_datetime(all_data["started_at"])

In [18]:
all_data["ended_at"] = pd.to_datetime(all_data["ended_at"])

In [19]:
# create "trip_duration" column using "ended_at" - "started_at"
all_data["trip_duration"] = all_data["ended_at"] - all_data["started_at"]
all_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
0,46F8167220E4431F,electric_bike,2021-12-07 15:06:07,2021-12-07 15:13:42,Laflin St & Cullerton St,13307,Morgan St & Polk St,TA1307000130,41.854833,-87.663660,41.871969,-87.650965,member,0 days 00:07:35
1,73A77762838B32FD,electric_bike,2021-12-11 03:43:29,2021-12-11 04:10:23,LaSalle Dr & Huron St,KP1705001026,Clarendon Ave & Leland Ave,TA1307000119,41.894405,-87.632331,41.967968,-87.650001,casual,0 days 00:26:54
2,4CF42452054F59C5,electric_bike,2021-12-15 23:10:28,2021-12-15 23:23:14,Halsted St & North Branch St,KA1504000117,Broadway & Barry Ave,13137,41.899357,-87.648522,41.937582,-87.644098,member,0 days 00:12:46
3,3278BA87BF698339,classic_bike,2021-12-26 16:16:10,2021-12-26 16:30:53,Halsted St & North Branch St,KA1504000117,LaSalle Dr & Huron St,KP1705001026,41.899390,-87.648545,41.894877,-87.632326,member,0 days 00:14:43
4,6FF54232576A3B73,electric_bike,2021-12-30 11:31:05,2021-12-30 11:51:21,Leavitt St & Chicago Ave,18058,Clark St & Drummond Pl,TA1307000142,41.895579,-87.682024,41.931248,-87.644336,member,0 days 00:20:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337727,03005DDB0F2F28E4,classic_bike,2022-11-09 14:22:29,2022-11-09 14:25:18,Clifton Ave & Armitage Ave,TA1307000163,Sheffield Ave & Webster Ave,TA1309000033,41.918216,-87.656936,41.921540,-87.653818,member,0 days 00:02:49
337731,B0B4E85DA43A9194,classic_bike,2022-11-22 16:57:53,2022-11-22 17:31:29,Franklin St & Jackson Blvd,TA1305000025,Sheffield Ave & Wrightwood Ave,TA1309000023,41.877708,-87.635321,41.928712,-87.653833,casual,0 days 00:33:36
337732,8D148DD47B59530B,classic_bike,2022-11-06 13:04:05,2022-11-06 13:13:33,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876243,-87.624426,41.867226,-87.615355,casual,0 days 00:09:28
337733,0D1170BA18FD33D1,classic_bike,2022-11-06 09:41:29,2022-11-06 15:17:17,Halsted St & 18th St,13099,Shedd Aquarium,15544,41.857506,-87.645991,41.867226,-87.615355,casual,0 days 05:35:48
337734,09B20DC75B5EA1E0,electric_bike,2022-11-26 11:59:28,2022-11-26 12:31:04,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876272,-87.624576,41.867226,-87.615355,casual,0 days 00:31:36

In [20]:
# Check the statistic of trip_duration columns
all_data["trip_duration"].describe()

count                      4410328
mean     0 days 00:17:09.538559943
std      0 days 00:54:04.927339437
min              -1 days +21:11:18
25%                0 days 00:06:04
50%                0 days 00:10:37
75%                0 days 00:19:03
max               23 days 20:34:04
Name: trip_duration, dtype: object

In [21]:
# Find out the rows that has negative value in the trip_duration column
negative_duration = all_data.loc[(all_data["trip_duration"] < "00:00:00")]
negative_duration

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
184212,2D97E3C98E165D80,classic_bike,2022-03-05 11:00:57,2022-03-05 10:55:01,DuSable Lake Shore Dr & Wellington Ave,TA1307000041,DuSable Lake Shore Dr & Wellington Ave,TA1307000041,41.936688,-87.636829,41.936688,-87.636829,casual,-1 days +23:54:04
187389,7407049C5D89A13D,electric_bike,2022-03-05 11:38:04,2022-03-05 11:37:57,Sheffield Ave & Wellington Ave,TA1307000052,Sheffield Ave & Wellington Ave,TA1307000052,41.936313,-87.652522,41.936253,-87.652662,casual,-1 days +23:59:53
126532,072E947E156D142D,electric_bike,2022-06-07 19:14:46,2022-06-07 17:07:45,W Armitage Ave & N Sheffield Ave,20254.0,W Armitage Ave & N Sheffield Ave,20254.0,41.920000,-87.650000,41.920000,-87.650000,casual,-1 days +21:52:59
301277,BF114472ABA0289C,electric_bike,2022-06-07 19:14:47,2022-06-07 17:05:42,Base - 2132 W Hubbard,Hubbard Bike-checking (LBS-WH-TEST),W Armitage Ave & N Sheffield Ave,20254.0,41.917831,-87.653363,41.920000,-87.650000,member,-1 days +21:50:55
27467,029D853B5C38426E,classic_bike,2022-07-26 20:07:33,2022-07-26 19:59:34,Lincoln Ave & Roscoe St*,chargingstx5,Lincoln Ave & Roscoe St*,chargingstx5,41.943350,-87.670668,41.943350,-87.670668,member,-1 days +23:52:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235732,2D98008FFB28C1B8,electric_bike,2022-11-06 01:56:17,2022-11-06 01:12:19,Wabash Ave & Grand Ave,TA1307000117,Wells St & Elm St,KA1504000135,41.891129,-87.626821,41.903222,-87.634324,casual,-1 days +23:16:02
240613,112ED5B9200BFD2A,classic_bike,2022-11-06 01:46:10,2022-11-06 01:06:44,Sheffield Ave & Webster Ave,TA1309000033,Wells St & Institute Pl,22001,41.921540,-87.653818,41.897380,-87.634420,casual,-1 days +23:20:34
243896,417746CBEB92A34E,classic_bike,2022-11-06 01:46:17,2022-11-06 01:05:13,Wells St & Hubbard St,TA1307000151,Aberdeen St & Jackson Blvd,13157,41.889906,-87.634266,41.877726,-87.654787,member,-1 days +23:18:56
246644,B5602D5BB3D517F6,electric_bike,2022-11-06 01:59:05,2022-11-06 01:02:03,Western Ave & Winnebago Ave,13068,California Ave & Milwaukee Ave,13084,41.915592,-87.687070,41.922695,-87.697153,member,-1 days +23:02:58
316112,4139B11634039661,classic_bike,2022-11-06 01:58:46,2022-11-06 01:11:33,Clark St & Grace St,TA1307000127,Broadway & Berwyn Ave,13109,41.950780,-87.659172,41.978353,-87.659753,member,-1 days +23:12:47

In [22]:
# drop the rows that have negative value in the trip_duration column
all_data.drop(negative_duration.index, axis=0, inplace=True)
all_data["trip_duration"].describe()

count                      4409841
mean     0 days 00:17:09.577891583
std      0 days 00:54:05.058462519
min                0 days 00:00:00
25%                0 days 00:06:04
50%                0 days 00:10:37
75%                0 days 00:19:03
max               23 days 20:34:04
Name: trip_duration, dtype: object

In [23]:
# convert trip_duration to seconds and then to datetime
# in order to show trip_duration correctly in Tableau
all_data["trip_duration"] = all_data["trip_duration"] / np.timedelta64(1, 's')

In [28]:
# convert trip_duration to int
all_data["trip_duration"] = pd.to_datetime(all_data["trip_duration"], unit="s")
all_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
0,46F8167220E4431F,electric_bike,2021-12-07 15:06:07,2021-12-07 15:13:42,Laflin St & Cullerton St,13307,Morgan St & Polk St,TA1307000130,41.854833,-87.663660,41.871969,-87.650965,member,1970-01-01 00:07:35
1,73A77762838B32FD,electric_bike,2021-12-11 03:43:29,2021-12-11 04:10:23,LaSalle Dr & Huron St,KP1705001026,Clarendon Ave & Leland Ave,TA1307000119,41.894405,-87.632331,41.967968,-87.650001,casual,1970-01-01 00:26:54
2,4CF42452054F59C5,electric_bike,2021-12-15 23:10:28,2021-12-15 23:23:14,Halsted St & North Branch St,KA1504000117,Broadway & Barry Ave,13137,41.899357,-87.648522,41.937582,-87.644098,member,1970-01-01 00:12:46
3,3278BA87BF698339,classic_bike,2021-12-26 16:16:10,2021-12-26 16:30:53,Halsted St & North Branch St,KA1504000117,LaSalle Dr & Huron St,KP1705001026,41.899390,-87.648545,41.894877,-87.632326,member,1970-01-01 00:14:43
4,6FF54232576A3B73,electric_bike,2021-12-30 11:31:05,2021-12-30 11:51:21,Leavitt St & Chicago Ave,18058,Clark St & Drummond Pl,TA1307000142,41.895579,-87.682024,41.931248,-87.644336,member,1970-01-01 00:20:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337727,03005DDB0F2F28E4,classic_bike,2022-11-09 14:22:29,2022-11-09 14:25:18,Clifton Ave & Armitage Ave,TA1307000163,Sheffield Ave & Webster Ave,TA1309000033,41.918216,-87.656936,41.921540,-87.653818,member,1970-01-01 00:02:49
337731,B0B4E85DA43A9194,classic_bike,2022-11-22 16:57:53,2022-11-22 17:31:29,Franklin St & Jackson Blvd,TA1305000025,Sheffield Ave & Wrightwood Ave,TA1309000023,41.877708,-87.635321,41.928712,-87.653833,casual,1970-01-01 00:33:36
337732,8D148DD47B59530B,classic_bike,2022-11-06 13:04:05,2022-11-06 13:13:33,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876243,-87.624426,41.867226,-87.615355,casual,1970-01-01 00:09:28
337733,0D1170BA18FD33D1,classic_bike,2022-11-06 09:41:29,2022-11-06 15:17:17,Halsted St & 18th St,13099,Shedd Aquarium,15544,41.857506,-87.645991,41.867226,-87.615355,casual,1970-01-01 05:35:48
337734,09B20DC75B5EA1E0,electric_bike,2022-11-26 11:59:28,2022-11-26 12:31:04,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876272,-87.624576,41.867226,-87.615355,casual,1970-01-01 00:31:36

In [31]:
# check the datatypes
all_data.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
trip_duration         datetime64[ns]
dtype: object

In [32]:
# write the all_data DataFrame to csv file
all_data.to_csv("./Data/all_trips_data.csv", index=False)